header{
    top:0;
    background: #46a860;
    height:100px;
    border-bottom: 1px solid navy;
 }
 .header-all{
     display:flex;
     height:90px;
     margin:auto;
     margin:10px;
 }
 .header-left{
     width: 400px;
     height:90px;
 }
 .title{
     margin:30px 50px 30px 50px;
     font-family: cursive;
 }
 .header-center{
     width: 1000px;
     height:90px;
     display: flex;
 }
 .header-center a{
   text-decoration:none;
 }
 .header-right{
   width: 206px;
   height:90px;
}
.moves{
   width: 150px;
   height:50px;
   margin:30px 30px 0px 50px;
   background-color:white;
   border-radius: 30px;
}
 .move{
     width: 100px;
     padding: 40px 20px 0 20px;
     margin:30px 0px 0px 10px;
     height:20px;
     color:black;
     border-left:1px solid navy;
     border-right:1px solid navy;
     text-align:center;
     background-color: #46a860;
 }
 main{
    background-color: #46a860;
    height: 5300px;
    overflow:hidden;
 }
 .contains{
    width: 1000px;
    height: 470px;
    background-color: white;
    margin: 50px 200px 10px 300px;
    border: 1px solid navy;
 }
 .contains-top{
   border-bottom:1px solid black;
   display: flex;
 }
 .contains-top-left{
    width: 600px;
    height: 100px;
 }
 .contains-top-left h3{
   margin:20px;
 }
 .contains-top-left p{
   margin:20px;
 }
 .contains-top-right{
   width: 400px;
   height: 100px;
   display:flex;
 }
 .contains-top-right a{
   border:1px solid navy;
   background-color:#46a860;
   width: 100px;
   height: 20px;
   text-align:center;
   color:black;
   font-size: 14px;
   padding-top:10px;
   padding-bottom: 7px;
   text-decoration:none;
   display:block;
   margin:40px 5px 0px 120px;
 }
 .delete{
   border:1px solid navy;
   background-color: red;
   width: 100px;
   height: 40px;
   text-align:center;
   color:black;
   padding-top:10px;
   padding-bottom: 6px;
   text-decoration:none;
   display:block;
   margin:40px 5px 0px 5px;
 }

 .contains-center{
    width: 1000px;
    height: 300px;
 }
 .contains-center h4{
    padding-left: 20px;
 }
 .contains-bottom{
    width: 1000px;
    height: 70px;
    border-top:1px solid navy;
 }
 .contains-bottom p{
   padding-left: 20px;
 }
 footer{
   background-color: lightsteelblue;
    height:200px;
 }
 .paginate{
   width: 1600px;
   height: 200px;
   background-color: lightsteelblue;
 }
 


























@media (min-width: 520px) and (max-width: 960px) {
   
   header{
      background: #46a860;
      height:100px;
      width: 850px;
      border-bottom: 1px solid navy;
   }
   .header-all{
      display:flex;
      width: 800px;
      height:90px;
      margin:auto;
      margin:10px;
   }
   .header-left{
      width: 400px;
      height:90px;
   }
   .title{
      margin:0px 50px 30px 50px;
      font-family: cursive;
      font-size: 13px;
   }
   .header-center{
      width: 1000px;
      height:90px;
      display: flex;
   }
   .header-center a{
      text-decoration:none;
   }
   .header-right{
      width: 206px;
      height:90px;
   }
   .moves{
      width: 100px;
      height:50px;
      margin:30px 30px 0px 50px;
   }
   .move{
      width: 80px;
      padding: 40px 20px 0 20px;
      margin:30px 0px 0px 10px;
      height:20px;
      color:black;
      border-left:1px solid navy;
      border-right:1px solid navy;
      text-align:center;
   }
   main{
      background-color:#46a860;
      height: 5300px;
      width: 850px;
      overflow:hidden;
   }
   .contains{
      width: 600px;
      height: 470px;
      margin: 50px 100px 10px 100px;
      border: 1px solid navy;
   }
   .contains-top{
      border-bottom:1px solid black;
      display: flex;
   }
   .contains-top-left{
      width: 400px;
      height: 100px;
   }
   .contains-top-left p{
      margin:20px;
   }
   .contains-top-right{
      width: 200px;
      height: 100px;
      display:flex;
   }
   .contains-top-right a{
      border:1px solid navy;
      background-color:#46a860;
      width: 50px;
      height: 20px;
      text-align:center;
      color:black;
      font-size: 14px;
      padding-top:10px;
      padding-bottom: 7px;
      text-decoration:none;
      display:block;
      margin:40px 5px 0px 20px;
   }
   .delete{
      border:1px solid navy;
      background-color: red;
      width: 50px;
      height: 40px;
      text-align:center;
      color:black;
      padding-top:10px;
      padding-bottom: 6px;
      text-decoration:none;
      display:block;
      margin:40px 5px 0px 5px;
   }

   .contains-center{
      width: 600px;
      height: 300px;
   }
   .contains-center h4{
      padding-left: 20px;
   }
   .contains-bottom{
      width: 600px;
      height: 70px;
      border-top:1px solid navy;
   }
   .contains-bottom p{
      padding-left: 20px;
   }
   footer{
      background-color: lightsteelblue;
      height:200px;
      width: 850px;
   }
   .paginate .pagination .page-link {
      padding: 5px 10px; 
      font-size: 20px;  
  }
  .paginate .pagination .page-item {
   margin-right: 5px;
}
.pagination .page-link .page-item-prev,
.pagination .page-link .page-item-next {
    font-size: 16px;  /* これは例です。適切なフォントサイズに調整してください */
}


}



@media (min-width: 320px) and (max-width: 520px) {
   /* スタイルの調整 */

   header{
      background: #46a860;
      height:100px;
      width: 400px;
      border-bottom: 1px solid navy;
   }
   .header-all{
      display:flex;
      width: 400px;
      height:90px;
      margin:auto;
      margin:10px;
   }
   .header-left{
      width: 100px;
      height:90px;
   }
   .title{
      margin:0px 10px 10px 0px;
      font-family: cursive;
      font-size: 12px;
   }
   .header-center{
      width: 200px;
      height:90px;
      display: flex;
   }
   .header-center a{
      text-decoration:none;
   }
   .header-right{
      width: 106px;
      height:90px;
   }
   .moves{
      width: 80px;
      height:50px;
      margin:30px 0px 0px 10px;
   }
   .move{
      width: 80px;
      padding: 40px 5px 0 5px;
      margin:30px 0px 0px 10px;
      height:20px;
      color:black;
      border-left:1px solid navy;
      border-right:1px solid navy;
      text-align:center;
   }
   main{
      background-color: #46a860;
      height: 5300px;
      width: 400px;
      overflow:hidden;
   }
   .contains{
      width: 350px;
      height: 350px;
      background-color: white;
      margin: 50px 20px 10px 20px;
      border: 1px solid navy;
   }
   .contains-top{
      border-bottom:1px solid black;
      display: flex;
      }
   .contains-top-left{
      width: 200px;
      height: 100px;
   }
   .contains-top-left h3{
      margin:10px;
      font-size: 13px;
   }
   .contains-top-left p{
      margin:10px;
      font-size: 13px;
   }
   .contains-top-right{
      width: 150px;
      height: 100px;
      display:flex;
   }
   .contains-top-right a{
      border:1px solid navy;
      background-color:#46a860;
      width: 50px;
      height: 20px;
      text-align:center;
      color:black;
      font-size: 14px;
      padding-top:10px;
      padding-bottom: 7px;
      text-decoration:none;
      display:block;
      margin:40px 5px 0px 20px;
   }
   .delete{
      border:1px solid navy;
      background-color: red;
      width: 50px;
      height: 40px;
      text-align:center;
      color:black;
      padding-top:10px;
      padding-bottom: 6px;
      text-decoration:none;
      display:block;
      margin:40px 5px 0px 5px;
   }

   .contains-center{
      width: 350px;
      height: 200px;
   }
   .contains-center h4{
      padding-left: 10px;
      font-size: 10px;
   }
   .contains-bottom{
      width: 350px;
      height: 50px;
      border-top:1px solid navy;
   }
   .contains-bottom p{
      padding-left: 10px;
      font-size: 10px;
   }
   footer{
      background-color: lightsteelblue;
      height:200px;
      width: 400px;
   }
   .paginate{
      width: 200px;
      height: 50px;
   }
   .paginate p{
      width: 100px;
      height:50px;
   }

}