header{
   width:100%;
   height:100px;

   background: #46a860;
}
.header-all{
    width: 100%;
    display:flex;
    height:90px;
    margin:auto;
}
.header-left{
    /* width: 500px; */
    width: 30%;
    height:90px;
}
.title{
    margin:10px 50px 0px 40px;
    font-family: cursive;
}
.header-center{
    /* width: 900px; */
    width: 50%;
    height:90px;
    text-decoration:none;
    display: flex;
}
.header-center a{
   text-decoration:none;
 }
.move{
    width: 100px;
    padding: 40px 20px 0 20px;
    margin:30px 0px 0px 10px;
    height:20px;
    color:black;
    border-left:1px solid navy;
    border-right:1px solid navy;
    text-align:center;
    background-color: #46a860;
}
.header-right{
    /* width: 206px; */
    width:20%;
    height:90px;
}
.moves{
   width: 150px;
   height: 50px;
   margin:30px 30px 0px 50px;
   border-radius: 30px;
}
.header {
   display: none;
 }


 /* メイン図形部分 */
 main{
   background-color: #46a860;
   height: 700px;
}
 .contents-room{
    background-color:#46a860;
    height: 700px;
    width: 100%;
    display: flex;
    
 }
 .contents-left{
   width: 65%;
   height:700px;
   background-color: #46a860;
   margin-right: 10px;
   display:flex;
 }
 .topic{
    width: 300px;
    height: 600px;
    margin: 30px 0 30px 30px;
    background-color: white;
 }
.content{
   width: 200px;
   height: 70px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
 .contents{
    width: 300px;
    height: 200px;
    margin-top: 0px;
 }
.contents h3{
   padding-top:25px;
   margin-left:40px;
   width: 200px;
   height:30px;
   
}
.contents p{
   margin-top:50px;
   font-size:30px;
}
 .contents-right{
    width: 35%;
    height:700px;
 }
 .result-top{
   padding: 20px;
 }
footer{
   width:100%;
   background-color: lightsteelblue;
   height:200px;
   border-top:1px solid navy;
}
.footer-text{
   width: 600px;
   height: 200px;
   margin: auto;
   display: flex;
}
.footer-left{
   width: 200px;
   height: 200px;
}
.footer-left p{
   font-family: cursive;
   margin: 70px 0px;
   font-size: 20px;
   font-weight: bold;
}
.footer-center{
   width: 200px;
   height: 200px;
}
.footer-center a{
   margin: 70px 50px;
   display:block;
}







@media (min-width: 520px) and (max-width: 960px) {
   
   header{
      width:850px;
      height:100px;
      border-bottom: 1px solid black;
      background: #46a860;
   }
   .header-all{
       width: 850px;
       display:flex;
       height:90px;
       margin:auto;
   }
   .header-left{
       /* width: 500px; */
       width: 30%;
       height:90px;
   }
   .title{
       margin:30px 50px 0px 20px;
       font-family: cursive;
       font-size: 12px;
   }
   .header-center{
       /* width: 900px; */
       width: 50%;
       height:90px;
       text-decoration:none;
       display: flex;
   }
   .move{
       width: 90px;
       padding: 40px 10px 0 10px;
       margin:30px 0px 0px 10px;
       height:20px;
       color:black;
       border-left:1px solid navy;
       border-right:1px solid navy;
       text-align:center;
   }
   .header-right{
       /* width: 206px; */
       width:20%;
       height:90px;
   }
   .moves{
      width: 100px;
      height: 50px;
      margin:30px 30px 0px 50px;
   }
   .header {
      display: none;
    }
    /* メイン図形部分 */
    main{
      height: 700px;
      width: 850px;
   }
    .contents-room{
       height: 700px;
       width: 850px;
    }
    .contents-left{
      width: 100%;
      height:700px;
      margin-right: 0px;
      display:flex;
      border-right:1px solid white;;
    }
    .topic{
       width: 250px;
       height: 600px;
       margin: 30px 5 30px 10px;
    }
   .content{
      width: 250px;
      height: 70px;
      border-radius: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
   }
    .contents{
       width: 250px;
       height: 200px;
       margin-top: 30px;
       border-radius: 60px;
    }
   .contents h3{
      padding-top:25px;
      margin-left:40px;
      width: 200px;
      height:30px;
      font-size:15px;
   }
   .contents p{
      margin-top:50px;
      font-size:30px;
   }
    .contents-right{
      display:none;

    }
   footer{
      width:850px;
      background-color: lightsteelblue;
      height:200px;
      border-top:1px solid navy;
   }
   .footer-text{
      width: 600px;
      height: 200px;
      margin: auto;
      display: flex;
   }
   .footer-left{
      width: 200px;
      height: 200px;
   }
   .footer-left p{
      font-family: cursive;
      margin: 70px 0px;
      font-size: 20px;
      font-weight: bold;
   }
   .footer-center{
      width: 200px;
      height: 200px;
   }
   .footer-center a{
      margin: 70px 50px;
      display:block;
   }

 }






 
 @media (min-width: 320px) and (max-width: 520px) {


   header{
      width: 500px;
      height:100px;
      border-bottom: 1px solid black;
      background: #46a860;
   }
   .header-all{
       width: 100%;
       display:flex;
       height:90px;
       margin:auto;
   }
   .header-left{
       /* width: 500px; */
       width: 30%;
       height:90px;
   }
   .title{
       margin:10px 50px 0px 120px;
       font-family: cursive;
       font-size: 10px;
   }
   .title p{
      display:none;
   }
   .header-center{
       /* width: 900px; */
       display:none;
   }
   .move{
       display: none;
   }
   .header-right{
       /* width: 206px; */
       width: 100px;
       height: 50px;
       margin-top: 30px;
       margin-left: 200px;
   }
   .moves{
      display: none;
   }


    /* メイン図形部分 */
    main{
      height: 2100px;
      width: 500px;
   }
    .contents-room{
       height: 2100px;
       width: 500px;
       display: block;
       
    }
    .contents-left{
      width: 500px;
      height:2100px;
      border-right:1px solid white;
      display: block;
    }
    .topic{
       width: 300px;
       height: 600px;
       margin-left: 110px;
    }
   .content{
      width: 200px;
      height: 70px;
      border-radius: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
   }
    .contents{
       width: 300px;
       height: 200px;
       margin-top: 30px;
       border-radius: 60px;
    }
   .contents h3{
      padding-top:25px;
      margin-left:40px;
      width: 200px;
      height:30px;
      font-size: 14px;
   }
   .contents p{
      margin-top:50px;
      font-size:30px;
   }
    .contents-right{
       display: none;
    }
   footer{
      width:500px;
      background-color: lightsteelblue;
      height:200px;
      border-top:1px solid navy;
   }
   .footer-text{
      width: 500px;
      height: 200px;
      margin: auto;
      display: flex;
   }
   .footer-left{
      width: 200px;
      height: 200px;
   }
   .footer-left p{
      font-family: cursive;
      margin: 70px 30px;
      font-size: 20px;
      font-weight: bold;
   }
   .footer-center{
      width: 200px;
      height: 200px;
   }
   .footer-center a{
      margin: 70px 60px;
      display:block;
   }

   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    
    .logo {
      font-size: 24px;
    }
    
    .drawer_hidden {
      display: none;
    }
    
    /* ハンバーガーアイコンの設置スペース */
    .drawer_open {
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100;/* 重なり順を一番上にする */
      cursor: pointer;
    }
    
    /* ハンバーガーメニューのアイコン */
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background: #333;
      transition: 0.5s;
      position: absolute;
    }
    
    /* 三本線の一番上の棒の位置調整 */
    .drawer_open span:before {
      bottom: 8px;
    }
    
    /* 三本線の一番下の棒の位置調整 */
    .drawer_open span:after {
      top: 8px;
    }
    
    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer_input:checked ~ .drawer_open span {
      background: rgba(255, 255, 255, 0);
    }
    
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer_input:checked ~ .drawer_open span::before {
      bottom: 0;
      transform: rotate(45deg);
    }
    
    #drawer_input:checked ~ .drawer_open span::after {
      top: 0;
      transform: rotate(-45deg);
    }
      
    /* メニューのデザイン*/
    .nav_content {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%; /* メニューを画面の外に飛ばす */
      z-index: 99;
      transition: .5s;
    }
    
    /* メニュー黒ポチを消す */
    .nav_list {
      list-style: none;
    }
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked ~ .nav_content {
      left: 0;/* メニューを画面に入れる */
    }

 }








